
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Index</h2>

<br />
<div style="text-align: justify">

    <h3>Name : Md. Omar Faruk Sakib</h3>
    <br />
    <h3>Id : 21-45077-2</h3>
    <br />
    <h3>Email :sakibkst143@gmail.com</h3>
    <br />
    <h3> Git Profile :sakib1431</h3>
    <br />


</div>

