
@{
    ViewBag.Title = "Projects";
}

<h2 style="text-align:center">Projects</h2>

<li>
    WebTech :
    <p>
        <h4>Project Name  : Complaint  Management System :</h4>
        In this project we build a complaint <br />
        management system which can be used in any company to share there <br />
        complain through that online platfrom
    </p>
</li>

<li>
    C# :
    <p>
        <h4>Project Name  : Edttech Management System :</h4>
        In this project we build a online education <br />
        management system which can be used in online  <br />
        education platfrom.student can enroll cousrses <br />
        
  
    </p>
</li>


<li>
    Java :
    <p>
        <h4>Project Name  : Travel Agency Management System :</h4>
        In this project we build a Travel Agency <br />
        management system which can be used in Travel Agency  <br />
        .There will be Admin and Customer .Customer can buy the ticket.
    </p>
</li>